<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Doenças</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container-table">
        <a href="/" class="voltar">← Voltar</a>
        <h1>Lista de Doenças</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Patógeno</th>
                <th>Doença</th>
                <th>Sintomas</th>
            </tr>
        </thead>
        <tbody>
            <% doencas.forEach((disease) => { %>
                <tr>
                    <td><%= disease.id %></td>
                    <td><%= disease.patogeno %></td>
                    <td><%= disease.doença %></td>
                    <td><%= disease.sintomas %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
        <div class="pagination">
            <% if (currentPage > 1) { %>
                <a href="/listadoencas?page=<%= currentPage - 1 %>">Anterior</a>
            <% } %>

            <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="/listadoencas?page=<%= i %>" 
                class="<%= i == currentPage ? 'active' : '' %>">
                <%= i %>
                </a>
            <% } %>

            <% if (currentPage < totalPages) { %>
                <a href="/listadoencas?page=<%= currentPage + 1 %>">Próxima</a>
            <% } %>
        </div>
    </div>
</body>
</html>
